*.pdf
*.png
*.jpg
*.zip
*.rar
*.tar.gz

# Entorno virtual
venv/
.venv/
env/
.env

# Archivos de configuración con secretos
# ¡Añade aquí el nombre de tu archivo de configuración si es diferente!
# Por ejemplo, si tus claves están en config.py, añade 'config.py'
app/core/config.py

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de base de datos SQLite (si los usas para pruebas)
*.sqlite3

# Archivos de dependencias (se gestionan con requirements.txt)
*.egg-info/

# Archivos de IDEs
.idea/
.vscode/

# Backups de base de datos
*.dump